/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-size: 1.35em;
 }

 header {
   background-color: papayawhip;
   height: 15vh;
   border: 2px solid;
   text-align: center;
 }

 main {
   border: 2px solid;
   margin: 2vh;
   display: grid;
   grid-template-columns: 1fr 3fr;
 }

 nav {
   border-right: solid 2px;
 }

 nav ul {
   list-style-type: none;
   padding: 0;
 }

 nav ul li {
   border: solid 2px;
   border-radius: 12px;
   text-align: center;
   margin: 5vh 1vw;
   background-color: thistle;
 }


 section {
   padding: 2vw;
 }

 footer {
   text-align: center;
   font-size: .75em;
   background-color: papayawhip;
   border-top: 2px solid;
   position: fixed;
   width: 100vw;
   bottom: 0;
 }
